Flask==2.0.1
requests==2.26.0
Werkzeug==2.0.1
PyPDF2==1.26.0  # Corrected the version number
PyMuPDF==1.18.11 --install-option="--install-scripts=/app/.heroku/python/bin"
reportlab==3.5.68 --install-option="--install-scripts=/app/.heroku/python/bin"
flask-ngrok==0.0.25